/* _content/tahfezKhalid/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ff9utuz6u7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ff9utuz6u7] {
  color: #0077cc;
}

.btn-primary[b-ff9utuz6u7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ff9utuz6u7], .nav-pills .show > .nav-link[b-ff9utuz6u7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ff9utuz6u7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ff9utuz6u7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ff9utuz6u7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ff9utuz6u7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ff9utuz6u7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/tahfezKhalid/Views/Shared/_Login.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-umthmx0uww] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-umthmx0uww] {
  color: #0077cc;
}

.btn-primary[b-umthmx0uww] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-umthmx0uww], .nav-pills .show > .nav-link[b-umthmx0uww] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

input[b-umthmx0uww]::-webkit-outer-spin-button,
input[b-umthmx0uww]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number][b-umthmx0uww] {
    -moz-appearance: textfield; /* Firefox */
}


.border-top[b-umthmx0uww] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-umthmx0uww] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-umthmx0uww] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-umthmx0uww] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-umthmx0uww] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/tahfezKhalid/Views/Shared/_Welcome.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-z86f7b0h59] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-z86f7b0h59] {
  color: #0077cc;
}

.btn-primary[b-z86f7b0h59] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-z86f7b0h59], .nav-pills .show > .nav-link[b-z86f7b0h59] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-z86f7b0h59] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-z86f7b0h59] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-z86f7b0h59] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-z86f7b0h59] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-z86f7b0h59] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
