@using tahfez.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>إضافة ولي أمر للحلقة</h1>
<p>
    <a class="btn btn-outline-success"  asp-area="Identity" asp-page="/Account/Register" asp-route-Id="2" asp-route-sessionId = "@ViewData["sessionId"]">إضافة ولي أمر جديد</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddParentToSession" enctype="multipart/form-data">
            <input type="hidden" name="sessionId" value="@ViewData["sessionId"]" />
            <div class="form-group">
                <label for="ParentId" class="control-label"></label>
                <select Id="ParentId" name="parent" class ="form-control" asp-items="@ViewData["parent"]as IEnumerable<SelectListItem>"></select>
            </div>

            <br />
            <br />
            <br />
            <div class="form-group">
                <input  type="submit" value="إضافة ولي الأمر" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>